# default = everyone is codeowner
* @crusoeenergy/island

.gitlab/CODEOWNERS @cagriaksay @lanwall12 @nitper

# more restrictive ownership for adding dependencies and changing ci/build
.gitlab-ci.yml     @cagriaksay @lanwall12 @nitper
.golangci-lint.yml @cagriaksay @lanwall12 @nitper
go.mod             @cagriaksay @lanwall12 @nitper
Makefile           @cagriaksay @lanwall12 @nitper
Dockerfile         @cagriaksay @lanwall12 @nitper
Dockerfile.*       @cagriaksay @lanwall12 @nitper
