{
  "swagger": "2.0",
  "info": {
    "description": "The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.",
    "title": "Crusoe Cloud API Gateway",
    "version": "v1alpha5"
  },
  "host": "api.crusoecloud.com",
  "basePath": "/v1alpha5",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/capacities": {
      "get": {
        "tags": [
          "Capacities"
        ],
        "summary": "Lists available Crusoe Cloud capacity with optional filters on location and product name.",
        "operationId": "listSliceCapacities",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": "[a100.1x, a100.2x]",
            "x-go-name": "ProductNames",
            "name": "product_name",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": "[us-northcentral1-a, us-northcentral1-b]",
            "x-go-name": "Locations",
            "name": "location",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/capacitiesResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/compute/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Lists all VM images available for use.",
        "operationId": "listImages",
        "responses": {
          "200": {
            "$ref": "#/responses/listImagesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/compute/images/{image_id}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Retrieve details about a VM image.",
        "operationId": "getImage",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ImageID",
            "name": "image_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getImageResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/featureflags": {
      "get": {
        "description": "A successful response from this resource will contain a map of\nall feature flags and the value assigned to each of them for the user.",
        "tags": [
          "Feature-Flags"
        ],
        "summary": "Get feature flags for the currently logged in user.",
        "operationId": "getFeatureFlags",
        "responses": {
          "200": {
            "$ref": "#/responses/featureFlagsGetResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Lists all Crusoe Cloud locations usable for resource hosting.",
        "operationId": "listLocations",
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "Retrieve details about all active organizations the logged in user belongs to.",
        "operationId": "getOrganizations",
        "responses": {
          "200": {
            "$ref": "#/responses/organizationsGetResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "put": {
        "description": "A successful response from this resource will contain the updated organization details.",
        "tags": [
          "Entities"
        ],
        "summary": "Update details for an organization that the logged in user owns.",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OrgID",
            "name": "org_id",
            "in": "query",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntitiesPutPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/organizationsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/projects": {
      "get": {
        "description": "If querying for projects within an organization, the logged in user must be the owner of the organization.",
        "tags": [
          "Projects"
        ],
        "summary": "Retrieve details about projects that the logged in user belongs to or owns.",
        "operationId": "listProjects",
        "parameters": [
          {
            "type": "string",
            "example": "ee2a6bc3-aed5-4756-8995-9990a53d3a17",
            "x-go-name": "OrgID",
            "name": "org_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "default",
            "x-go-name": "ProjectName",
            "name": "project_name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listProjectsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "put": {
        "description": "Requests to this resource must contain the json-encoded representation of the changes they want to make to the project.\nCurrently only the project's name can be changed.",
        "tags": [
          "Projects"
        ],
        "summary": "Update details for a project that the logged in user owns.",
        "operationId": "updateProject",
        "parameters": [
          {
            "type": "string",
            "example": "f058d0db-2fa4-4cf2-8cf1-dfbcfe05a814",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "query",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectsPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/projectsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "The logged in user must have the permission to create projects within the organization.\nA successful response from this resource contains details of the created project.",
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project that will be owned by the logged in user.",
        "operationId": "createProject",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectsPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/projectsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Retrieve details about a project that the logged in user belongs to or owns.",
        "operationId": "getProject",
        "parameters": [
          {
            "type": "string",
            "example": "ee2a6bc3-aed5-4756-8995-9990a53d3a17",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getProjectResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "description": "Delete operations cascade to VMs created under that project.",
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project that the logged in user owns.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/audit-logs": {
      "get": {
        "tags": [
          "Audit",
          "Logs"
        ],
        "summary": "Get audit logs belonging to the specified organization. User must be part of the organization.",
        "operationId": "getAuditLogs",
        "parameters": [
          {
            "type": "string",
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "x-go-name": "OrganizationID",
            "name": "organization_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "x-go-name": "ProjectIDs",
            "name": "project_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2022-09-01T14:25:36-07:00",
            "x-go-name": "StartTime",
            "name": "start_time",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2022-09-06T14:25:36-07:00",
            "x-go-name": "EndTime",
            "name": "end_time",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Create,Update",
            "x-go-name": "Actions",
            "name": "actions",
            "in": "query"
          },
          {
            "type": "string",
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "x-go-name": "ActorIDs",
            "name": "actor_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "hh26@xxx.com,xyz@yyy.ai, only support filter by user email, not by crusoe admin email. ",
            "x-go-name": "ActorEmails",
            "name": "actor_emails",
            "in": "query"
          },
          {
            "type": "string",
            "example": "User,Crusoe Admin, please ensure URL encoding for values with space.",
            "x-go-name": "ActorTypes",
            "name": "actor_types",
            "in": "query"
          },
          {
            "type": "string",
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "x-go-name": "TargetIDs",
            "name": "target_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "VM,KubernetesCluster",
            "x-go-name": "TargetTypes",
            "name": "target_types",
            "in": "query"
          },
          {
            "type": "string",
            "example": "my_vm1,my_vm2",
            "x-go-name": "TargetNames",
            "name": "target_names",
            "in": "query"
          },
          {
            "type": "string",
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "x-go-name": "AssociateIDs",
            "name": "associate_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "VM,KubernetesCluster",
            "x-go-name": "AssociateTypes",
            "name": "associate_types",
            "in": "query"
          },
          {
            "type": "string",
            "example": "instance",
            "x-go-name": "AssociateNames",
            "name": "associate_names",
            "in": "query"
          },
          {
            "type": "string",
            "example": "us-east1,us-northcentral1-a",
            "x-go-name": "Locations",
            "name": "locations",
            "in": "query"
          },
          {
            "type": "string",
            "example": "OK,Bad Request",
            "x-go-name": "Statuses",
            "name": "statuses",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Browser,Crusoe Terraform/v0.5.21 please make sure the values are URL encoded.",
            "x-go-name": "Surfaces",
            "name": "surfaces",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/auditLogsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/reservations": {
      "get": {
        "tags": [
          "Reservations"
        ],
        "summary": "Get all reservations belonging to the specified organization. User must be part of the organization.",
        "operationId": "getReservations",
        "parameters": [
          {
            "type": "string",
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "x-go-name": "OrganizationID",
            "name": "organization_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "effective",
            "x-go-name": "Status",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reservationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/reservations/{reservation_id}": {
      "get": {
        "tags": [
          "Reservations"
        ],
        "summary": "Get reservation belonging to the specified organization and reservation ID. User must be part of the organization.",
        "operationId": "getReservation",
        "parameters": [
          {
            "type": "string",
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "x-go-name": "OrganizationID",
            "name": "organization_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "x-go-name": "ReservationID",
            "name": "reservation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reservationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get project-level usage for products in Crusoe Cloud.",
        "operationId": "getUsage",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OrgID",
            "name": "organization_id",
            "in": "path",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "x-go-name": "Projects",
            "name": "projects",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "persistent-ssd",
              "a40.1x"
            ],
            "x-go-name": "ResourceTypes",
            "name": "resource_types",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "x-go-name": "Regions",
            "name": "regions",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "\"2022-07-01\"",
            "x-go-name": "StartDate",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "\"2023-08-08\"",
            "x-go-name": "EndDate",
            "name": "end_date",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/usageGetResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/usage/export": {
      "get": {
        "produces": [
          "text/csv"
        ],
        "tags": [
          "Usage"
        ],
        "summary": "Get resource-level usage for products in Crusoe Cloud.",
        "operationId": "getUsageExport",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OrgID",
            "name": "organization_id",
            "in": "path",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "x-go-name": "Projects",
            "name": "projects",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "x-go-name": "Resources",
            "name": "resources",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "persistent-ssd",
              "a40.1x"
            ],
            "x-go-name": "ResourceTypes",
            "name": "resource_types",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "x-go-name": "Regions",
            "name": "regions",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "\"2022-07-01\"",
            "x-go-name": "StartDate",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "\"2023-08-08\"",
            "x-go-name": "EndDate",
            "name": "end_date",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/usageExportGetResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/organizations/{organization_id}/usage/options": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get options which exist for filters for /usage and /usage/export routes.",
        "operationId": "getUsageOptions",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OrgID",
            "name": "organization_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/usageOptionsGetResponse"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/custom-images": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "summary": "List all custom VM images available for use.",
        "operationId": "listCustomImages",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listImagesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "tags": [
          "CustomImages"
        ],
        "summary": "Create a custom image.",
        "operationId": "customImagePost",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImagePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/custom-images/operations": {
      "get": {
        "description": "This resource retrieves information about the status of asynchronous operations initiated by\nthe custom images resource. All operations that are either in-flight or completed but not yet\nqueried will be returned.",
        "tags": [
          "Custom-Image-Operations"
        ],
        "summary": "Get status of asynchronous operations",
        "operationId": "listCustomImagesOperations",
        "parameters": [
          {
            "type": "string",
            "example": "452580d7-41d1-4b63-b4d7-4e4e21e95f96",
            "x-go-name": "ResourceID",
            "name": "resource_id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "IN_PROGRESS"
            ],
            "x-go-name": "State",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOperationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/custom-images/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe custom image resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Custom-Image-Operations"
        ],
        "summary": "Get status of a single asynchronous custom image operation",
        "operationId": "getCustomImagesOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/custom-images/{image_id}": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "summary": "Retrieve details about a VM image.",
        "operationId": "getCustomImage",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ImageID",
            "name": "image_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getImageResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomImages"
        ],
        "summary": "Delete a custom image.",
        "operationId": "customImageDelete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ImageID",
            "name": "image_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "CustomImages"
        ],
        "summary": "Update a custom image.",
        "operationId": "customImagePatch",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ImageID",
            "name": "image_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImagePatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/customImagePatchResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/instance-groups": {
      "get": {
        "tags": [
          "Instance-Groups"
        ],
        "summary": "Lists all instance groups.",
        "operationId": "listInstanceGroups",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstanceGroupsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "tags": [
          "Instance-Groups"
        ],
        "summary": "Create an instance group.",
        "operationId": "createInstanceGroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/instance-groups/{instance_group_id}": {
      "get": {
        "tags": [
          "Instance-Groups"
        ],
        "summary": "Retrieve details about an instance group.",
        "operationId": "getInstanceGroup",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "InstanceGroupID",
            "name": "instance_group_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Instance-Groups"
        ],
        "summary": "Delete an instance group.",
        "operationId": "deleteInstanceGroup",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "InstanceGroupID",
            "name": "instance_group_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "Instance-Groups"
        ],
        "summary": "Update an instance group.",
        "operationId": "patchInstanceGroup",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "InstanceGroupID",
            "name": "instance_group_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupPatchRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/patchInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/instance-templates": {
      "get": {
        "tags": [
          "Instance-Templates"
        ],
        "summary": "Lists all VM instance templates available for use.",
        "operationId": "listInstanceTemplates",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstanceTemplatesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "tags": [
          "Instance-Templates"
        ],
        "summary": "Create a VM instance template, for use in bulk VM creation.",
        "operationId": "createInstanceTemplate",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceTemplatePostRequestV1Alpha5"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createInstanceTemplateResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/instance-templates/{instance_template_id}": {
      "get": {
        "tags": [
          "Instance-Templates"
        ],
        "summary": "Retrieve details about a VM instance template.",
        "operationId": "getInstanceTemplate",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "InstanceTemplateID",
            "name": "instance_template_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getInstanceTemplateResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Instance-Templates"
        ],
        "summary": "Delete a VM instance template.",
        "operationId": "deleteInstanceTemplate",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "InstanceTemplateID",
            "name": "instance_template_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/bulk-instances": {
      "post": {
        "tags": [
          "VMs"
        ],
        "summary": "Create new VM instances owned by the logged in user.",
        "operationId": "bulkCreateInstance",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInstancePostRequestV1Alpha5"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances": {
      "get": {
        "tags": [
          "VMs"
        ],
        "summary": "Retrieve details about all VMs that the logged in user owns or has access to.",
        "operationId": "listInstances",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "IDs",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "my-first-vm",
            "x-go-name": "Names",
            "name": "names",
            "in": "query"
          },
          {
            "type": "string",
            "example": "a40.2x,a100.8x",
            "x-go-name": "Types",
            "name": "types",
            "in": "query"
          },
          {
            "type": "string",
            "example": "us-east1,us-northcentral1",
            "x-go-name": "Locations",
            "name": "locations",
            "in": "query"
          },
          {
            "type": "string",
            "example": "STATE_RUNNING",
            "x-go-name": "States",
            "name": "states",
            "in": "query"
          },
          {
            "type": "string",
            "example": "20",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "example": "name",
            "x-go-name": "Sort",
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "example": "bXktZmlyc3Qtdm0",
            "x-go-name": "NextToken",
            "name": "next_token",
            "in": "query"
          },
          {
            "type": "string",
            "example": "bXktZmlyc3Qtdm0",
            "x-go-name": "PrevToken",
            "name": "prev_token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstancesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "tags": [
          "VMs"
        ],
        "summary": "Create a new VM instance owned by the logged in user.",
        "operationId": "createInstance",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstancesPostRequestV1Alpha5"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances/operations": {
      "get": {
        "description": "This resource retrieves information about the status of asynchronous operations initiated by\nthe instances resource. All operations that are either in-flight or completed but not yet\nqueried will be returned.",
        "tags": [
          "VM-Operations"
        ],
        "summary": "Get status of asynchronous operations",
        "operationId": "listComputeVMsInstancesOperations",
        "parameters": [
          {
            "type": "string",
            "example": "452580d7-41d1-4b63-b4d7-4e4e21e95f96",
            "x-go-name": "ResourceID",
            "name": "resource_id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "IN_PROGRESS"
            ],
            "x-go-name": "State",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2021-12-03T19:58:34Z",
            "x-go-name": "LowerTimeBound",
            "name": "lower_time_bound",
            "in": "query"
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOperationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe instances resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "VM-Operations"
        ],
        "summary": "Get the status of a single asynchronous operation",
        "operationId": "getComputeVMsInstancesOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances/{vm_id}": {
      "get": {
        "tags": [
          "VMs"
        ],
        "summary": "Retrieve details about a particular VM.",
        "operationId": "getInstance",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "VMID",
            "name": "vm_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getInstanceResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "VMs"
        ],
        "summary": "Delete a VM that the logged in user owns.",
        "operationId": "deleteInstance",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "VMID",
            "name": "vm_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "VMs"
        ],
        "summary": "Change the state of a VM the logged in user owns.",
        "operationId": "updateInstance",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstancesPatchRequestV1Alpha5"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "VMID",
            "name": "vm_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances/{vm_id}/attach-disks": {
      "post": {
        "tags": [
          "VMs"
        ],
        "summary": "Attach disks to a VM the logged in user owns.",
        "operationId": "updateInstanceAttachDisks",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstancesAttachDiskPostRequestV1Alpha5"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "VMID",
            "name": "vm_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/instances/{vm_id}/detach-disks": {
      "post": {
        "tags": [
          "VMs"
        ],
        "summary": "Detach disks from a VM the logged in user owns.",
        "operationId": "updateInstanceDetachDisks",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstancesDetachDiskPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "VMID",
            "name": "vm_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/compute/vms/types": {
      "get": {
        "tags": [
          "VMs"
        ],
        "summary": "Retrieve information about the types of VMs that are available.",
        "operationId": "getVMTypes",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/typesGetResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/clusters": {
      "get": {
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Retrieve information about Kubernetes clusters belonged to the project.",
        "operationId": "listClusters",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listKubernetesClustersResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "A successful response from this resource will contain the async operation.",
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Create a new Kubernetes cluster owned by the logged in user.",
        "operationId": "createCluster",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubernetesClusterPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/clusters/operations": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Kubernetes Cluster resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Kubernetes-Cluster-Operations"
        ],
        "summary": "Get status of asynchronous operations",
        "operationId": "listKubernetesClustersOperations",
        "parameters": [
          {
            "type": "string",
            "example": "452580d7-41d1-4b63-b4d7-4e4e21e95f96",
            "x-go-name": "ResourceID",
            "name": "resource_id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "IN_PROGRESS"
            ],
            "x-go-name": "State",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOperationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/clusters/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Kubernetes Cluster resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Kubernetes-Cluster-Operations"
        ],
        "summary": "Get status of a single asynchronous operation",
        "operationId": "getKubernetesClustersOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/clusters/{cluster_id}": {
      "get": {
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Retrieve information about a particular Kubernetes cluster belonged to the project.",
        "operationId": "getCluster",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getKubernetesClusterResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Delete a cluster that the logged in user owns.",
        "operationId": "deleteCluster",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Update a cluster that the logged in user owns.",
        "operationId": "updateCluster",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubernetesClusterPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/clusters/{cluster_id}/get-credentials": {
      "post": {
        "tags": [
          "Kubernetes-Clusters"
        ],
        "summary": "Retrieve credentials for the user to authenticate to the specified cluster.",
        "operationId": "getClusterCredentials",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getKubernetesClusterCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/nodepools": {
      "get": {
        "tags": [
          "Kubernetes-NodePools"
        ],
        "summary": "Retrieve information about Kubernetes node pools belonging to a project or cluster.",
        "operationId": "listNodePools",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listKubernetesNodePoolsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "A successful response from this resource will contain the async operation.",
        "tags": [
          "Kubernetes-NodePools"
        ],
        "summary": "Create a new Kubernetes node pool owned by the logged in user.",
        "operationId": "createNodePool",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubernetesNodePoolPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/nodepools/operations": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Kubernetes Node Pool resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Kubernetes-Node-Pool-Operations"
        ],
        "summary": "Get status of asynchronous operations",
        "operationId": "listKubernetesNodePoolsOperations",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOperationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/nodepools/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Kubernetes Node Pool resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Kubernetes-Node-Pool-Operations"
        ],
        "summary": "Get status of a single asynchronous operation",
        "operationId": "getKubernetesNodePoolsOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/kubernetes/nodepools/{node_pool_id}": {
      "get": {
        "tags": [
          "Kubernetes-NodePools"
        ],
        "summary": "Retrieve information about a particular Kubernetes node pool belonging to the project.",
        "operationId": "getNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getKubernetesNodePoolResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kubernetes-NodePools"
        ],
        "summary": "Delete a node pool that the logged in user owns.",
        "operationId": "deleteNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "Kubernetes-NodePools"
        ],
        "summary": "Update a node pool that the logged in user owns.",
        "operationId": "updateNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubernetesNodePoolPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/clusters": {
      "get": {
        "tags": [
          "Training-Clusters"
        ],
        "summary": "Retrieve information about training clusters belonged to the project.",
        "operationId": "listTrainingClusters",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "my-slurm-cluster",
            "x-go-name": "Name",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listTrainingClustersResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "A successful response from this resource will contain the async operation.",
        "tags": [
          "Training-Clusters"
        ],
        "summary": "Create a new training cluster owned by the logged in user.",
        "operationId": "createTrainingCluster",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MTCClusterPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/clusters/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Training Cluster resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Training-Cluster-Operations"
        ],
        "summary": "Get status of a single asynchronous operation",
        "operationId": "getTrainingClustersOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/clusters/{cluster_id}": {
      "get": {
        "tags": [
          "Training-Clusters"
        ],
        "summary": "Retrieve information about a particular training cluster belonged to the project.",
        "operationId": "getTrainingCluster",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getTrainingClusterResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Training-Clusters"
        ],
        "summary": "Delete a training cluster that the logged in user owns.",
        "operationId": "deleteTrainingCluster",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/nodepools": {
      "get": {
        "tags": [
          "Training-Cluster-Node-Pools"
        ],
        "summary": "Retrieve information about training node pools belonging to a project or cluster.",
        "operationId": "listTrainingClusterNodePools",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ClusterID",
            "name": "cluster_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "my-slurm-node-pool",
            "x-go-name": "Name",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listTrainingNodePoolsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "A successful response from this resource will contain the async operation.",
        "tags": [
          "Training-Cluster-Node-Pools"
        ],
        "summary": "Create a new training node pool owned by the logged in user.",
        "operationId": "createTrainingClusterNodePool",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MTCNodePoolPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/nodepools/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe Training Cluster Node Pool resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "tags": [
          "Training-Cluster-Node-Pool-Operations"
        ],
        "summary": "Get status of a single asynchronous operation",
        "operationId": "getTrainingClusterNodePoolsOperation",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "OperationID",
            "name": "operation_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/mtc/nodepools/{node_pool_id}": {
      "get": {
        "tags": [
          "Training-Cluster-Node-Pools"
        ],
        "summary": "Retrieve information about a particular training node pool belonging to the project.",
        "operationId": "getTrainingClusterNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getTrainingNodePoolResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "Training-Cluster-Node-Pools"
        ],
        "summary": "Delete a node pool that the logged in user owns.",
        "operationId": "deleteTrainingClusterNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "patch": {
        "tags": [
          "Training-Cluster-Node-Pools"
        ],
        "summary": "Update a node pool that the logged in user owns.",
        "operationId": "updateTrainingClusterNodePool",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "NodePoolID",
            "name": "node_pool_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MTCNodePoolPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/ib-networks": {
      "get": {
        "tags": [
          "IB-Networks"
        ],
        "summary": "Retrieve details for all Infiniband networks.",
        "operationId": "listIBNetworks",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listIbNetworksResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/ib-networks/{ib_network_id}": {
      "get": {
        "tags": [
          "IB-Networks"
        ],
        "summary": "Retrieve details for an Infiniband network.",
        "operationId": "getIBNetwork",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "IBNetworkID",
            "name": "ib_network_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIbNetworkResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/ib-partitions": {
      "get": {
        "tags": [
          "IB-Partitions"
        ],
        "summary": "Retrieve details for all Infiniband partitions that belongs to the user.",
        "operationId": "listIBPartitions",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listIBPartitionsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "tags": [
          "IB-Partitions"
        ],
        "summary": "Create a new Infiniband partition owned by the logged in user.",
        "operationId": "createIBPartition",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IBPartitionsPostRequestV1Alpha5"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ibPartitionsPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/ib-partitions/{ib_partition_id}": {
      "get": {
        "tags": [
          "IB-Partitions"
        ],
        "summary": "Retrieve details for an Infiniband partition that belongs to the user.",
        "operationId": "getIBPartition",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "IBPartitionID",
            "name": "ib_partition_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getIbPartitionResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "delete": {
        "tags": [
          "IB-Partitions"
        ],
        "summary": "Delete an Infiniband partition owned by the logged in user.",
        "operationId": "deleteIBPartition",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "IBPartitionID",
            "name": "ib_partition_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/load-balancers": {
      "get": {
        "tags": [
          "Load-Balancers"
        ],
        "summary": "Retrieve details about all load balancers that belong to the logged in user.",
        "operationId": "listLoadBalancers",
        "parameters": [
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listLoadBalancersResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      },
      "post": {
        "description": "A successful response from this resource will contain the async operation.",
        "tags": [
          "Load-Balancers"
        ],
        "summary": "Create a new load balancer owned by the logged in user.",
        "operationId": "createLoadBalancer",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancersPostRequest"
            }
          },
          {
            "type": "string",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "x-go-name": "ProjectID",
            "name": "project_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        }
      }
    },
    "/projects/{project_id}/networking/load-balancers/operations": {
      "get": {
        "description": "This resource retrieves information about the status of asynchronous operations initiated by\nthe Load Balancers resource. All operations that are either in-flight or completed but not yet\nqueried will be returned.",
        "tags": [
          "Load-Balancer-Operations"
        ],
        "summary": "Get status of asynchronous operations",
[...]
