{
  "swagger": "2.0",
  "info": {
    "description": "The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.",
    "title": "Crusoe Cloud API Gateway",
    "version": "v1alpha5"
  },
  "host": "api.cloud.crusoe.ai",
  "basePath": "/v1alpha5",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/capacities": {
      "get": {
        "operationId": "listSliceCapacities",
        "parameters": [
          {
            "example": "[a100.1x, a100.2x]",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "product_name",
            "type": "array",
            "x-go-name": "ProductNames"
          },
          {
            "example": "[us-northcentral1-a, us-northcentral1-b]",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "location",
            "type": "array",
            "x-go-name": "Locations"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/capacitiesResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists available Crusoe Cloud capacity with optional filters on location and product name.",
        "tags": [
          "Capacities"
        ]
      }
    },
    "/ccr/supported-locations": {
      "get": {
        "operationId": "listSupportedLocations",
        "responses": {
          "200": {
            "$ref": "#/responses/ccrListSupportedLocationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List locations where the container registry is hosted in the Crusoe Cloud.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/ccr/supported-providers": {
      "get": {
        "operationId": "listSupportedProviders",
        "responses": {
          "200": {
            "$ref": "#/responses/ccrListSupportedProvidersResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Returns the list of supported upstream registry providers for pull-through-caches.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/ccr/tokens": {
      "post": {
        "operationId": "createCcrToken",
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/CCRTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrTokenResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a container registry specific limited scope token for a user.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/compute/images": {
      "get": {
        "operationId": "listImages",
        "parameters": [
          {
            "description": "Optional filter to return only images compatible with the specified product group (e.g. \"a100\", \"h100\").",
            "example": "a100",
            "in": "query",
            "name": "product_group",
            "type": "string",
            "x-go-name": "ProductGroup"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listImagesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all VM images available for use.",
        "tags": [
          "Images"
        ]
      }
    },
    "/compute/images/{image_id}": {
      "get": {
        "operationId": "getImage",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getImageResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve details about a VM image.",
        "tags": [
          "Images"
        ]
      }
    },
    "/featureflags": {
      "get": {
        "description": "A successful response from this resource will contain a map of\nall feature flags and the value assigned to each of them for the user.",
        "operationId": "getFeatureFlags",
        "responses": {
          "200": {
            "description": "Feature flags retrieved successfully",
            "schema": {
              "$ref": "#/definitions/customerListFeatureFlagsResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "summary": "Get feature flags for the currently logged in user.",
        "tags": [
          "Feature Flags"
        ]
      }
    },
    "/iam/role-bindings": {
      "get": {
        "operationId": "listRoleBindings",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "type": "string",
            "x-go-name": "UserID"
          },
          {
            "in": "query",
            "name": "role_id",
            "type": "string",
            "x-go-name": "RoleID"
          },
          {
            "enum": [
              "org",
              "project"
            ],
            "in": "query",
            "name": "scope_type",
            "type": "string",
            "x-go-name": "ScopeType"
          },
          {
            "in": "query",
            "name": "scope_object_id",
            "type": "string",
            "x-go-name": "ScopeObjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listRoleBindingsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists role bindings visible to the caller.",
        "tags": [
          "RoleBindings"
        ]
      }
    },
    "/iam/roles": {
      "get": {
        "operationId": "listRoles",
        "responses": {
          "200": {
            "$ref": "#/responses/listRolesResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists role associated with the caller's organization.",
        "tags": [
          "Roles"
        ]
      }
    },
    "/iam/users/{user_id}/role-bindings": {
      "post": {
        "description": "If any creation or deletion fails, no changes are applied.",
        "operationId": "applyRoleBindings",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "string",
            "x-go-name": "UserID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyRoleBindingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Creates and deletes role bindings for a user in a single atomic operation.",
        "tags": [
          "RoleBindings"
        ]
      }
    },
    "/locations": {
      "get": {
        "operationId": "listLocations",
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all Crusoe Cloud locations usable for resource hosting.",
        "tags": [
          "Locations"
        ]
      }
    },
    "/organizations/entities": {
      "get": {
        "operationId": "getOrganizations",
        "responses": {
          "200": {
            "$ref": "#/responses/organizationsGetResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve details about all active organizations the logged in user belongs to.",
        "tags": [
          "Entities"
        ]
      },
      "put": {
        "description": "A successful response from this resource will contain the updated organization details.",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "query",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntitiesPutPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/organizationsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Update details for an organization that the logged in user owns.",
        "tags": [
          "Entities"
        ]
      }
    },
    "/organizations/projects": {
      "get": {
        "description": "If querying for projects within an organization, the logged in user must be the owner of the organization.",
        "operationId": "listProjects",
        "parameters": [
          {
            "description": "Filters results to projects in this organization.",
            "example": "ee2a6bc3-aed5-4756-8995-9990a53d3a17",
            "in": "query",
            "name": "org_id",
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "description": "Filters results to projects with this name.",
            "example": "default",
            "in": "query",
            "name": "project_name",
            "type": "string",
            "x-go-name": "ProjectName"
          },
          {
            "description": "Whether to skip loading the resource counts for each project.",
            "example": true,
            "in": "query",
            "name": "skip_loading_project_resources",
            "type": "boolean",
            "x-go-name": "SkipLoadingProjectResources"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listProjectsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all projects the logged in user belongs to or owns and returns their details.",
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "description": "The logged in user must have the permission to create projects within the organization.\nA successful response from this resource contains details of the created project.",
        "operationId": "createProject",
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectsPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/projectsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Creates a project and returns the created project.",
        "tags": [
          "Projects"
        ]
      },
      "put": {
        "description": "Requests to this resource must contain the json-encoded representation of the changes they want to make to the project.\nCurrently only the project's name can be changed.",
        "operationId": "updateProject",
        "parameters": [
          {
            "description": "ID of the project.",
            "example": "f058d0db-2fa4-4cf2-8cf1-dfbcfe05a814",
            "in": "query",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectsPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/projectsPutPostResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Updates a project and returns the updated project.",
        "tags": [
          "Projects"
        ]
      }
    },
    "/organizations/projects/{project_id}": {
      "delete": {
        "description": "Delete operations cascade to VMs created under that project.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Deletes a project.",
        "tags": [
          "Projects"
        ]
      },
      "get": {
        "operationId": "getProject",
        "parameters": [
          {
            "description": "ID of the project.",
            "example": "ee2a6bc3-aed5-4756-8995-9990a53d3a17",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getProjectResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Returns details for a single project.",
        "tags": [
          "Projects"
        ]
      }
    },
    "/organizations/{org_id}/scim/integrations": {
      "get": {
        "operationId": "listSCIMIntegrations",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listSCIMIntegrationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List SCIM integrations for an organization.",
        "tags": [
          "SCIM"
        ]
      },
      "post": {
        "operationId": "createSCIMIntegration",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSCIMIntegrationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSCIMIntegrationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a new SCIM integration for an organization.",
        "tags": [
          "SCIM"
        ]
      }
    },
    "/organizations/{org_id}/scim/integrations/{integration_id}": {
      "delete": {
        "operationId": "deleteSCIMIntegration",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a SCIM integration.",
        "tags": [
          "SCIM"
        ]
      },
      "get": {
        "operationId": "getSCIMIntegration",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getSCIMIntegrationResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get a SCIM integration by ID.",
        "tags": [
          "SCIM"
        ]
      },
      "patch": {
        "operationId": "updateSCIMIntegration",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSCIMIntegrationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/updateSCIMIntegrationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Update a SCIM integration.",
        "tags": [
          "SCIM"
        ]
      }
    },
    "/organizations/{org_id}/scim/integrations/{integration_id}/tokens": {
      "get": {
        "operationId": "listSCIMIntegrationTokens",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listSCIMIntegrationTokensResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List the tokens for a SCIM integration.",
        "tags": [
          "SCIM"
        ]
      },
      "post": {
        "operationId": "createSCIMIntegrationToken",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSCIMTokenRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSCIMIntegrationTokenResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a token for a SCIM integration.",
        "tags": [
          "SCIM"
        ]
      }
    },
    "/organizations/{org_id}/scim/integrations/{integration_id}/tokens/{access_key_id}": {
      "delete": {
        "operationId": "deleteSCIMIntegrationToken",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "integration_id",
            "required": true,
            "type": "string",
            "x-go-name": "IntegrationID"
          },
          {
            "example": "R7p5XctCQMuGlpVBmVdqzA",
            "in": "path",
            "name": "access_key_id",
            "required": true,
            "type": "string",
            "x-go-name": "AccessKeyID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a token from a SCIM integration.",
        "tags": [
          "SCIM"
        ]
      }
    },
    "/organizations/{org_id}/storage/s3/keys": {
      "get": {
        "operationId": "listS3Keys",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listS3KeysResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all S3 keys for a organization.",
        "tags": [
          "S3Keys"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "operationId": "createS3Key",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateS3KeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createS3KeyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Creates a new S3 key and generates access/secret key pair.",
        "tags": [
          "S3Keys"
        ]
      }
    },
    "/organizations/{org_id}/storage/s3/keys/{access_key_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "operationId": "deleteS3Key",
        "parameters": [
          {
            "description": "The ID of the organization",
            "in": "path",
            "name": "org_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "description": "The AccessKeyID of the S3 key to delete",
            "example": "CKIA493K6LOVDNNAR4SZ",
            "in": "path",
            "name": "access_key_id",
            "required": true,
            "type": "string",
            "x-go-name": "AccessKeyID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/okEmpty"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Deletes an S3 key based on its ID.",
        "tags": [
          "S3Keys"
        ]
      }
    },
    "/organizations/{org_id}/usage": {
      "get": {
        "operationId": "getUsage",
        "parameters": [
          {
            "description": "org_id is the ID of the org to fetch usage for",
            "in": "path",
            "name": "org_id",
            "pattern": "[^/]+",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "projects is an optional list of project IDs to filter usage by; absent means all projects",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "projects",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "resource_types is an optional list of product types to filter usage by; absent means all products",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "resource_types",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "regions is an optional list of regions to filter usage by; absent means all regions",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "regions",
            "required": false,
            "type": "array"
          },
          {
            "description": "start_date is the optional start date (inclusive) of the usage period, formatted YYYY-MM-DD",
            "in": "query",
            "name": "start_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "end_date is the optional end date of the usage period, formatted YYYY-MM-DD",
            "in": "query",
            "name": "end_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "interval controls how usage is aggregated over the period: \"daily\" (the default) or \"monthly\"",
            "in": "query",
            "name": "interval",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage retrieved successfully",
            "schema": {
              "$ref": "#/definitions/customerOrganizationUsage"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "summary": "Get project-level usage for products in Crusoe Cloud.",
        "tags": [
          "Usage"
        ]
      }
    },
    "/organizations/{organization_id}/audit-logs": {
      "get": {
        "operationId": "getAuditLogs",
        "parameters": [
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrganizationID"
          },
          {
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "project_ids",
            "type": "array",
            "x-go-name": "ProjectIDs"
          },
          {
            "example": "2022-09-01T14:25:36-07:00",
            "in": "query",
            "name": "start_time",
            "type": "string",
            "x-go-name": "StartTime"
          },
          {
            "example": "2022-09-06T14:25:36-07:00",
            "in": "query",
            "name": "end_time",
            "type": "string",
            "x-go-name": "EndTime"
          },
          {
            "example": "Create,Update",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "actions",
            "type": "array",
            "x-go-name": "Actions"
          },
          {
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "actor_ids",
            "type": "array",
            "x-go-name": "ActorIDs"
          },
          {
            "example": "hh26@xxx.com,xyz@yyy.ai, only support filter by user email, not by crusoe admin email.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "actor_emails",
            "type": "array",
            "x-go-name": "ActorEmails"
          },
          {
            "example": "User,Crusoe Admin, please ensure URL encoding for values with space.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "actor_types",
            "type": "array",
            "x-go-name": "ActorTypes"
          },
          {
            "example": "f934fbdb-7e3a-4b92-b7d2-da0f91d768e8,8c29f3f3-830f-4a44-9b6b-a51fcf6a6b5d",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "target_ids",
            "type": "array",
            "x-go-name": "TargetIDs"
          },
          {
            "example": "VM,KubernetesCluster",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "target_types",
            "type": "array",
            "x-go-name": "TargetTypes"
          },
          {
            "example": "my_vm1,my_vm2",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "target_names",
            "type": "array",
            "x-go-name": "TargetNames"
          },
          {
            "example": "us-east1,us-northcentral1-a",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "locations",
            "type": "array",
            "x-go-name": "Locations"
          },
          {
            "example": "OK,Bad Request",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "results",
            "type": "array",
            "x-go-name": "Results"
          },
          {
            "example": "OK,Bad Request",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "results_not",
            "type": "array",
            "x-go-name": "ResultsNot"
          },
          {
            "example": "Browser,Crusoe Terraform/v0.5.21 please make sure the values are URL encoded.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "surfaces",
            "type": "array",
            "x-go-name": "Surfaces"
          },
          {
            "example": "20",
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-go-name": "Limit"
          },
          {
            "example": "bXktZmlyc3Qtdm0",
            "in": "query",
            "name": "next_token",
            "type": "string",
            "x-go-name": "NextToken"
          },
          {
            "example": "bXktZmlyc3Qtdm0",
            "in": "query",
            "name": "prev_token",
            "type": "string",
            "x-go-name": "PrevToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/auditLogsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get audit logs belonging to the specified organization. User must be part of the organization.",
        "tags": [
          "Audit Logs"
        ]
      }
    },
    "/organizations/{organization_id}/billing/costs": {
      "get": {
        "operationId": "getBillingCosts",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/billingCostsGetResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get the daily spend for a specified organization by project.",
        "tags": [
          "Billing"
        ]
      }
    },
    "/organizations/{organization_id}/billing/export-productline": {
      "get": {
        "operationId": "getBillingExportProductline",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "projects",
            "type": "array",
            "x-go-name": "Projects"
          },
          {
            "example": [
              "persistent-ssd",
              "a40"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "product_lines",
            "type": "array",
            "x-go-name": "ProductLines"
          },
          {
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "regions",
            "type": "array",
            "x-go-name": "Regions"
          },
          {
            "example": "\"2022-07-01\"",
            "in": "query",
            "name": "start_date",
            "required": true,
            "type": "string",
            "x-go-name": "StartDate"
          },
          {
            "example": "\"2023-08-08\"",
            "in": "query",
            "name": "end_date",
            "required": true,
            "type": "string",
            "x-go-name": "EndDate"
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getBillingExportProductlineResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Return a CSV containing the costs for resources in a given period.",
        "tags": [
          "Billing"
        ]
      }
    },
    "/organizations/{organization_id}/billing/options": {
      "get": {
        "operationId": "getBillingOptions",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "\"2025-05-01\"",
            "in": "query",
            "name": "start_date",
            "type": "string",
            "x-go-name": "StartDate"
          },
          {
            "example": "\"2025-05-20\"",
            "in": "query",
            "name": "end_date",
            "type": "string",
            "x-go-name": "EndDate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/billingOptionsGetResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve data about an organizations recent Non-Reservation costs.",
        "tags": [
          "Billing"
        ]
      }
    },
    "/organizations/{organization_id}/quotas": {
      "get": {
        "operationId": "listOrgQuotas",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOrgQuotasResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List max and currently used organization quotas.",
        "tags": [
          "Quotas"
        ]
      }
    },
    "/organizations/{organization_id}/reservations": {
      "get": {
        "operationId": "getReservations",
        "parameters": [
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrganizationID"
          },
          {
            "example": "effective",
            "in": "query",
            "name": "status",
            "type": "string",
            "x-go-name": "Status"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reservationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get all reservations belonging to the specified organization. User must be part of the organization.",
        "tags": [
          "Reservations"
        ]
      }
    },
    "/organizations/{organization_id}/reservations/gpu-tracking": {
      "get": {
        "operationId": "getReservationsGPUTracking",
        "parameters": [
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrganizationID"
          },
          {
            "example": [
              "gpu-hours"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "product_line",
            "type": "array",
            "x-go-name": "ProductLine"
          },
          {
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "region",
            "type": "array",
            "x-go-name": "Region"
          },
          {
            "example": "\"2024-01-01T00:00:00Z\"",
            "in": "query",
            "name": "start_time",
            "type": "string",
            "x-go-name": "StartTime"
          },
          {
            "example": "\"2024-01-31T23:59:59Z\"",
            "in": "query",
            "name": "end_time",
            "type": "string",
            "x-go-name": "EndTime"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reservationsGPUTrackingResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get GPU tracking data for the specified organization. User must be part of the organization and have reservations feature access.",
        "tags": [
          "Reservations"
        ]
      }
    },
    "/organizations/{organization_id}/reservations/gpu-tracking/latest": {
      "get": {
        "operationId": "getLatestGPUTracking",
        "parameters": [
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrganizationID"
          },
          {
            "example": [
              "gpu-hours"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "product_line",
            "type": "array",
            "x-go-name": "ProductLine"
          },
          {
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "region",
            "type": "array",
            "x-go-name": "Region"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/latestGPUTrackingResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get latest GPU tracking data for the specified organization. User must be part of the organization and have reservations feature access.",
        "tags": [
          "Reservations"
        ]
      }
    },
    "/organizations/{organization_id}/reservations/{reservation_id}": {
      "get": {
        "operationId": "getReservation",
        "parameters": [
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrganizationID"
          },
          {
            "example": "de8f27fe-8438-45e7-a2c2-a2767660625f",
            "in": "path",
            "name": "reservation_id",
            "required": true,
            "type": "string",
            "x-go-name": "ReservationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/reservationsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get reservation belonging to the specified organization and reservation ID. User must be part of the organization.",
        "tags": [
          "Reservations"
        ]
      }
    },
    "/organizations/{organization_id}/sso/providers": {
      "get": {
        "operationId": "listSSOProviders",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listSSOProvidersResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Returns the active sso providers for a given orgID.",
        "tags": [
          "SSO"
        ]
      },
      "post": {
        "operationId": "createSSOProvider",
        "parameters": [
          {
            "example": "d62a74a8-e14e-41fd-81b6-9983f7ab9ba8",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSSOProviderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createSSOProviderResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a new SSO provider for a specific org.",
        "tags": [
          "SSO"
        ]
      }
    },
    "/organizations/{organization_id}/sso/providers/{provider_id}": {
      "delete": {
        "operationId": "deleteSSOProvider",
        "parameters": [
          {
            "example": "d62a74a8-e14e-41fd-81b6-9983f7ab9ba8",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": "d62a74a8-e14e-41fd-81b6-9983f7ab9ba8",
            "in": "path",
            "name": "provider_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProviderID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteSSOProviderResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a specific SSO provider for a specific org.",
        "tags": [
          "SSO"
        ]
      }
    },
    "/organizations/{organization_id}/usage/export": {
      "get": {
        "operationId": "getUsageExport",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          },
          {
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "projects",
            "required": true,
            "type": "array",
            "x-go-name": "Projects"
          },
          {
            "example": [
              "d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "resources",
            "required": true,
            "type": "array",
            "x-go-name": "Resources"
          },
          {
            "example": [
              "persistent-ssd",
              "a40.1x"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "resource_types",
            "required": true,
            "type": "array",
            "x-go-name": "ResourceTypes"
          },
          {
            "example": [
              "us-east1",
              "us-northcentral1"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "regions",
            "required": true,
            "type": "array",
            "x-go-name": "Regions"
          },
          {
            "example": "\"2022-07-01\"",
            "in": "query",
            "name": "start_date",
            "required": true,
            "type": "string",
            "x-go-name": "StartDate"
          },
          {
            "example": "\"2023-08-08\"",
            "in": "query",
            "name": "end_date",
            "required": true,
            "type": "string",
            "x-go-name": "EndDate"
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/usageExportGetResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get resource-level usage for products in Crusoe Cloud.",
        "tags": [
          "Usage"
        ]
      }
    },
    "/organizations/{organization_id}/usage/options": {
      "get": {
        "operationId": "getUsageOptions",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "organization_id",
            "required": true,
            "type": "string",
            "x-go-name": "OrgID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/usageOptionsGetResponse"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get options which exist for filters for /usage and /usage/export routes.",
        "tags": [
          "Usage"
        ]
      }
    },
    "/projects/{project_id}/ccr/repositories": {
      "get": {
        "operationId": "listCcrRepositories",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-go-name": "Page"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "x-go-name": "PageSize"
          },
          {
            "in": "query",
            "name": "sort_by",
            "type": "string",
            "x-go-name": "SortBy"
          },
          {
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "x-go-name": "SortOrder"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrListRepositoriesResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List all container registry repositories in a project.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      },
      "post": {
        "operationId": "createCcrRepository",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/RepositoryRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/ccrRepositoryResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/projects/{project_id}/ccr/repositories/{repository_id}": {
      "delete": {
        "operationId": "deleteCcrRepository",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      },
      "get": {
        "operationId": "getCcrRepository",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrRepositoryResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get a specific CCR repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      },
      "patch": {
        "description": "Updates the username and password credentials for the upstream registry\nof a pull-through cache repository.",
        "operationId": "updateCcrRepositoryCredentials",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/UpstreamRegistryCredentials"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Update upstream registry credentials for a repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/projects/{project_id}/ccr/repositories/{repository_id}/images": {
      "delete": {
        "operationId": "deleteCcrImage",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete an image from a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      },
      "get": {
        "operationId": "listCcrImages",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-go-name": "Page"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "x-go-name": "PageSize"
          },
          {
            "in": "query",
            "name": "sort_by",
            "type": "string",
            "x-go-name": "SortBy"
          },
          {
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "x-go-name": "SortOrder"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrListImagesResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List all images in a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/projects/{project_id}/ccr/repositories/{repository_id}/manifests": {
      "delete": {
        "operationId": "deleteCcrManifest",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "query",
            "name": "tag",
            "type": "string",
            "x-go-name": "Tag"
          },
          {
            "in": "query",
            "name": "digest",
            "type": "string",
            "x-go-name": "Digest"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a manifest from an image in a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      },
      "get": {
        "operationId": "listCcrManifests",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "query",
            "name": "tag_contains",
            "type": "string",
            "x-go-name": "TagContains"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-go-name": "Page"
          },
          {
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "x-go-name": "PageSize"
          },
          {
            "in": "query",
            "name": "sort_by",
            "type": "string",
            "x-go-name": "SortBy"
          },
          {
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "x-go-name": "SortOrder"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrListManifestsResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List all manifests for an image in a container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/projects/{project_id}/ccr/repositories/{repository_id}/usage": {
      "get": {
        "operationId": "getCcrRepositoryUsage",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "path",
            "name": "repository_id",
            "required": true,
            "type": "string",
            "x-go-name": "RepositoryID"
          },
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-go-name": "Location"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ccrRepositoryQuotaResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get usage data for a specific container registry repository.",
        "tags": [
          "Ccr",
          "Container Registry"
        ]
      }
    },
    "/projects/{project_id}/compute/custom-images": {
      "get": {
        "operationId": "listCustomImages",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listImagesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "List all custom VM images available for use.",
        "tags": [
          "CustomImages"
        ]
      },
      "post": {
        "operationId": "customImagePost",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImagePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a custom image.",
        "tags": [
          "CustomImages"
        ]
      }
    },
    "/projects/{project_id}/compute/custom-images/operations": {
      "get": {
        "description": "This resource retrieves information about the status of asynchronous operations initiated by\nthe custom images resource. All operations that are either in-flight or completed but not yet\nqueried will be returned.",
        "operationId": "listCustomImagesOperations",
        "parameters": [
          {
            "example": "452580d7-41d1-4b63-b4d7-4e4e21e95f96",
            "in": "query",
            "name": "resource_id",
            "type": "string",
            "x-go-name": "ResourceID"
          },
          {
            "example": [
              "IN_PROGRESS"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "state",
            "type": "array",
            "x-go-name": "State"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listOperationsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get status of asynchronous operations",
        "tags": [
          "Custom Image Operations"
        ]
      }
    },
    "/projects/{project_id}/compute/custom-images/operations/{operation_id}": {
      "get": {
        "description": "This resource retrieves information about the status of an asynchronous operation initiated by\nthe custom image resource. Only information about the operation specified in the path will be returned,\nor an HTTP 403 will be returned if the operation does not exist, was not initiated by the logged\nin user, or has expired.",
        "operationId": "getCustomImagesOperation",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "operation_id",
            "required": true,
            "type": "string",
            "x-go-name": "OperationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Get status of a single asynchronous custom image operation",
        "tags": [
          "Custom Image Operations"
        ]
      }
    },
    "/projects/{project_id}/compute/custom-images/{image_id}": {
      "delete": {
        "operationId": "customImageDelete",
        "parameters": [
          {
            "in": "path",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a custom image.",
        "tags": [
          "CustomImages"
        ]
      },
      "get": {
        "operationId": "getCustomImage",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getImageResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve details about a VM image.",
        "tags": [
          "CustomImages"
        ]
      },
      "patch": {
        "operationId": "customImagePatch",
        "parameters": [
          {
            "in": "path",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImagePatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Update a custom image.",
        "tags": [
          "CustomImages"
        ]
      }
    },
    "/projects/{project_id}/compute/custom-images/{image_id}/edit-tags": {
      "patch": {
        "operationId": "customImageEditTags",
        "parameters": [
          {
            "in": "path",
            "name": "image_id",
            "required": true,
            "type": "string",
            "x-go-name": "ImageID"
          },
          {
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImageEditTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Update a custom image.",
        "tags": [
          "CustomImages"
        ]
      }
    },
    "/projects/{project_id}/compute/instance-groups": {
      "get": {
        "operationId": "listInstanceGroups",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstanceGroupsResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all instance groups in the project and returns their details.",
        "tags": [
          "Instance Groups"
        ]
      },
      "post": {
        "operationId": "createInstanceGroup",
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupPostRequest"
            }
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Creates an instance group in the project and returns the created instance group.",
        "tags": [
          "Instance Groups"
        ]
      }
    },
    "/projects/{project_id}/compute/instance-groups/{instance_group_id}": {
      "delete": {
        "operationId": "deleteInstanceGroup",
        "parameters": [
          {
            "description": "ID of the instance group.",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "instance_group_id",
            "required": true,
            "type": "string",
            "x-go-name": "InstanceGroupID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Deletes an instance group from the project.",
        "tags": [
          "Instance Groups"
        ]
      },
      "get": {
        "operationId": "getInstanceGroup",
        "parameters": [
          {
            "description": "ID of the instance group.",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "instance_group_id",
            "required": true,
            "type": "string",
            "x-go-name": "InstanceGroupID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Returns details for a single instance group in the project.",
        "tags": [
          "Instance Groups"
        ]
      },
      "patch": {
        "operationId": "patchInstanceGroup",
        "parameters": [
          {
            "description": "ID of the instance group.",
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "instance_group_id",
            "required": true,
            "type": "string",
            "x-go-name": "InstanceGroupID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupPatchRequest"
            }
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/patchInstanceGroupResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Updates an instance group in the project and returns the updated instance group.",
        "tags": [
          "Instance Groups"
        ]
      }
    },
    "/projects/{project_id}/compute/instance-templates": {
      "get": {
        "operationId": "listInstanceTemplates",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstanceTemplatesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Lists all VM instance templates available for use.",
        "tags": [
          "Instance Templates"
        ]
      },
      "post": {
        "operationId": "createInstanceTemplate",
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceTemplatePostRequestV1Alpha5"
            }
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createInstanceTemplateResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a VM instance template, for use in bulk VM creation.",
        "tags": [
          "Instance Templates"
        ]
      }
    },
    "/projects/{project_id}/compute/instance-templates/{instance_template_id}": {
      "delete": {
        "operationId": "deleteInstanceTemplate",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "instance_template_id",
            "required": true,
            "type": "string",
            "x-go-name": "InstanceTemplateID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Delete a VM instance template.",
        "tags": [
          "Instance Templates"
        ]
      },
      "get": {
        "operationId": "getInstanceTemplate",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "instance_template_id",
            "required": true,
            "type": "string",
            "x-go-name": "InstanceTemplateID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getInstanceTemplateResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "404": {
            "$ref": "#/responses/notFoundError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve details about a VM instance template.",
        "tags": [
          "Instance Templates"
        ]
      }
    },
    "/projects/{project_id}/compute/vms/bulk-instances": {
      "post": {
        "operationId": "bulkCreateInstance",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInstancePostRequestV1Alpha5"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create new VM instances owned by the logged in user.",
        "tags": [
          "VMs"
        ]
      }
    },
    "/projects/{project_id}/compute/vms/instances": {
      "get": {
        "operationId": "listInstances",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "query",
            "name": "ids",
            "type": "string",
            "x-go-name": "IDs"
          },
          {
            "example": "my-first-vm",
            "in": "query",
            "name": "names",
            "type": "string",
            "x-go-name": "Names"
          },
          {
            "example": "a40.2x,a100.8x",
            "in": "query",
            "name": "types",
            "type": "string",
            "x-go-name": "Types"
          },
          {
            "example": "us-east1,us-northcentral1",
            "in": "query",
            "name": "locations",
            "type": "string",
            "x-go-name": "Locations"
          },
          {
            "example": "STATE_RUNNING",
            "in": "query",
            "name": "states",
            "type": "string",
            "x-go-name": "States"
          },
          {
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "in": "query",
            "name": "nvlink_domain_ids",
            "type": "string",
            "x-go-name": "NvlinkDomainIds"
          },
          {
            "example": "20",
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-go-name": "Limit"
          },
          {
            "example": "name",
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-go-name": "Sort"
          },
          {
            "example": "bXktZmlyc3Qtdm0",
            "in": "query",
            "name": "next_token",
            "type": "string",
            "x-go-name": "NextToken"
          },
          {
            "example": "bXktZmlyc3Qtdm0",
            "in": "query",
            "name": "prev_token",
            "type": "string",
            "x-go-name": "PrevToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listInstancesResponse"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Retrieve details about all VMs that the logged in user owns or has access to.",
        "tags": [
          "VMs"
        ]
      },
      "post": {
        "operationId": "createInstance",
        "parameters": [
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          },
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstancesPostRequestV1Alpha5"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/asyncOperationResponse"
          },
          "400": {
            "$ref": "#/responses/badReqError"
          },
          "401": {
            "$ref": "#/responses/authError"
          },
          "403": {
            "$ref": "#/responses/permissionsError"
          },
          "500": {
            "$ref": "#/responses/serverError"
          }
        },
        "summary": "Create a new VM instance owned by the logged in user.",
        "tags": [
          "VMs"
        ]
      }
    },
    "/projects/{project_id}/compute/vms/instances/operations": {
      "get": {
        "description": "This resource retrieves information about the status of asynchronous operations initiated by\nthe instances resource. All operations that are either in-flight or completed but not yet\nqueried will be returned.",
        "operationId": "listComputeVMsInstancesOperations",
        "parameters": [
          {
            "example": "452580d7-41d1-4b63-b4d7-4e4e21e95f96",
            "in": "query",
            "name": "resource_id",
            "type": "string",
            "x-go-name": "ResourceID"
          },
          {
            "example": [
              "IN_PROGRESS"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "state",
            "type": "array",
            "x-go-name": "State"
          },
          {
            "example": "2021-12-03T19:58:34Z",
            "in": "query",
            "name": "lower_time_bound",
            "type": "string",
            "x-go-name": "LowerTimeBound"
          },
          {
            "example": "ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string",
            "x-go-name": "ProjectID"
          }
        ],
        "responses": {
[...]
